:root {
    --primary-color: #1FAEBF;
    --secondary-color: #0F181F;
    --main-dark-color: #1FAEBF;
    --bg-light-theme: #E9EDF0;
    --bg-white: #FFF;
    --bg-light-gray: #fafafa;
    --shadow-primary: 0px 6px 10px 0px rgba(31, 174, 191, 0.2);
    --shadow-secondary: 0px 6px 10px 0px rgba(31, 174, 191, 0.2);
    --secondary-rgba: rgba( 31, 174, 191, 0.8)
}

































