:root {
    --primary-color: #DE3C2F;
    --secondary-color: #202E39;
    --main-dark-color: #3B61B1;
    --bg-light-theme: #F1F0EC;
    --bg-white: #FFF;
    --bg-light-gray: #fafafa;
    --shadow-primary: 0px 6px 10px 0px rgba(222, 60, 47, 0.2);
    --shadow-secondary: 0px 6px 10px 0px rgba(49,49, 49, 0.2);
    --secondary-rgba: rgba( 222, 60, 47, 0.8)
}