:root {
    --primary-color: #FF5E15;
    --secondary-color: #282828;
    --main-dark-color: #EB1209;
    --bg-light-theme: #FAFAFA;
    --bg-white: #FFF;
    --bg-light-gray: #fafafa;
    --shadow-primary: 0px 6px 10px 0px rgba(255, 94, 21, 0.2);
    --shadow-secondary: 0px 6px 10px 0px rgba(49,49, 49, 0.2);
    --secondary-rgba: rgba( 255, 94, 21, 0.8)
}